table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.grid-container {
  margin: 20px;
}

.floating-button {
  position: fixed;
  right: 5%;
  top: 85%;
}
