<div class="grid-container">
  <h1 class="mat-h1">Connection Status</h1>
  <mat-list>
    <div mat-subheader>Online</div>
    <div *ngIf="online else online_loading">
      <mat-list-item *ngFor="let each of online">
        <mat-icon mat-list-icon class="online">cloud_queue</mat-icon>
        <div mat-line>{{each.Host | titlecase }}</div>
        <div mat-line> {{each.Hostname }} </div>
      </mat-list-item>
    </div>
    <ng-template #online_loading>
      <div class="item">
        <ngx-skeleton-loader count="3" appearance="line" [theme]="{
          'border-radius': '5px',
          height: '30px',
          border: '1px solid white'
        }"></ngx-skeleton-loader>
      </div>
    </ng-template>
    <mat-divider></mat-divider>
    <div mat-subheader>Offline</div>
    <div *ngIf="offline else offline_loading">
      <mat-list-item *ngFor="let each of offline">
        <mat-icon mat-list-icon color="warn">cloud_off</mat-icon>
        <div mat-line>{{each.Host | titlecase }}</div>
        <div mat-line> {{each.Hostname}} </div>
      </mat-list-item>
    </div>
    <ng-template #offline_loading>
      <div class="item">
        <ngx-skeleton-loader count="3" appearance="line" [theme]="{
          'border-radius': '5px',
          height: '30px',
          border: '1px solid white'
        }"></ngx-skeleton-loader>
      </div>    </ng-template>

  </mat-list>
  <div class="center">
    <button mat-flat-button color="primary" class="manual">
      <mat-icon>dns</mat-icon>
      Manual Check
    </button>
  </div>
</div>
