.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
  height: 100%;
  margin-top: 65px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  height: 78px;
  position: fixed;
  z-index: 2;
  width: 115% !important;
  top:-4%;
  left:-5%;
  transform:rotate(-2deg);
  -webkit-app-region: drag;
}
body{
  overflow:hidden;
}
.mat-toolbar.mat-primary > * {
  margin-left:5%;
  transform:rotate(2deg);
}

mat-sidenav-content {
  margin-top: 65px;
}
.nav-icon {
  margin: 10%;
}

a {
  text-decoration: none;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
