<div class="grid-container">
  <h1 class="mat-header">Author</h1>

<div class="center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Aman Tiwari</mat-card-title>
      <mat-card-subtitle>SDE @ Innovaccer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="rounded"
      src="https://avatars0.githubusercontent.com/u/20995495?s=460&u=0ef91eaf2b7913ceb8ec8411bb85abc4654fd5b6&v=4"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ul>
        <li>
          National Award Winner 2018 (Govt. Of India, NIC, ICMAI)
        </li>
        <li>
          Best Product Award 2018 Winner (VIT)
        </li>
      </ul>
      <p class="about_author">
        Experienced Developer and Team Leading skills, Love for Software Development, Game Development & Machine
        Learning.
        Campus Coordinator with a demonstrated history of working in the higher education industry. Skilled in C++, C,
        Python,
        PHP, and Machine Learning. Strong education professional with a Bachelor of Technology (B.Tech.) focused in
        Computer
        Science from Vellore Institute of Technology.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Aman Tiwari</mat-card-title>
      <mat-card-subtitle>Innovaccer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="rounded"
      src="https://avatars0.githubusercontent.com/u/20995495?s=460&u=0ef91eaf2b7913ceb8ec8411bb85abc4654fd5b6&v=4"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ul>
        <li>
          National Award Winner 2018 (Govt. Of India, NIC, ICMAI)
        </li>
        <li>
          Best Product Award 2018 Winner (VIT)
        </li>
      </ul>
      <p class="about_author">
        Experienced Developer and Team Leading skills, Love for Software Development, Game Development & Machine
        Learning.
        Campus Coordinator with a demonstrated history of working in the higher education industry. Skilled in C++, C,
        Python,
        PHP, and Machine Learning. Strong education professional with a Bachelor of Technology (B.Tech.) focused in
        Computer
        Science from Vellore Institute of Technology.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

</div>

</div>

