<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <div *ngIf="hosts else loading">
    <div fxLayout="row wrap" fxLayout.xs="column wrap">

      <div fxFlex.gt-xs="50%" [fxFlex.gt-md]="regularDistribution" *ngFor="let host of hosts | keyvalue"
        class="dashboard-content">
        <mat-card class="mat-elevation-z2">
          <mat-card-header>
            <mat-card-title>
              {{host.key | titlecase}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="dashboard-card-content">
            <div>
              <table class="properties-data">
                <tr *ngFor="let each of host.value | keyvalue">
                  <td style="font-weight: 200;">{{each.key}}</td>
                  <td>{{each.value}}</td>
                </tr>
              </table>
            </div>
            <div class='status-circle'>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <!-- <mat-spinner></mat-spinner> -->
    <div class="item">
      <ngx-skeleton-loader count="6" appearance="circle" animation="progress"
        [theme]="{ width: '400px', height: '225px', 'border-radius': '10px' }"></ngx-skeleton-loader>
    </div>
  </ng-template>
  <button routerLink="/add" class="floating-button" mat-fab mat-fab color="primary">
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>
