.grid-container {
  margin: 20px;
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  padding: 5%;
  min-width: 200px;
  min-height: 100px;
}

.properties-data{
  width: 100%;
}
.properties-data td{
  text-align: left;
}

.dashboard-content{
margin-left: 1%;
margin-top: 1%;
}
