.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  padding: 5%;
  min-width: 200px;
  min-height: 100px;
}

.properties-data {
  width: 100%;
}
.properties-data td {
  text-align: left;
}

.dashboard-content {
  margin-left: 1%;
  margin-top: 1%;
}

mat-spinner {
  margin-top: 20%;
  margin-left: 45%;
}

.floating-button {
  position: fixed;
  right: 5%;
  top: 85%;
}

.status-circle {
  background: #28b62c;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s infinite;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
@-webkit-keyframes pulse-animation {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
